wheel
Cython
numpy
GDAL
opencv-python
scikit-learn
rpy2
scipy
attrs
certifi
cffi
chardet
click
filelock
gdown
geojson
geomet
html2text
idna
iniconfig
Jinja2
joblib
MarkupSafe
packaging
pandas
pluggy
py
pycparser
pyparsing
PySocks
pytest
python-dateutil
pytz
PyYAML
requests
sentinelsat
six
threadpoolctl
toml
tqdm
tzlocal
urllib3
